<div class="d-flex flex-wrap wrapper">
  <ng-container *ngFor="let months of calender; let i = index">
    <div class="month">
      <h4 class="monthName">
        <span>
          {{months[i].monthName}}
        </span>
        <span>
          {{ months[i].year }}
        </span>
      </h4>
      <div class="month d-flex">
        <ng-container *ngFor="let month of months">
          <span class="day d-flex flex-column" [ngClass]="{'todayDate': month.isToday}">
            <sup class="text-black">
              {{month.dayName}}
            </sup>
            <strong class="font-strong">
              {{month.day}}
            </strong>
          </span>
        </ng-container>
      </div>
    </div>
  </ng-container>
</div>